.button {
  background-color: #007bff; /* Example initial background color */
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  width: 100%;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out,
    border-color 200ms ease-in-out;
  border: 2px solid transparent; /* Default border color */
}

.button:hover {
  background-color: white;
  color: #007bff; /* Change text color on hover if needed */
  border-color: #007bff; /* Border color on hover */
}

.scale-95 {
  transform: scale(0.95);
}

.scale-100 {
  transform: scale(1);
}
