@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "__myFont";
  font-weight: 600;
  src: url(/public/font/OpenSans-Light.ttf) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "__myFont_Fallback";
  src: local("Arial");
  ascent-override: 99.49%;
  descent-override: 34.74%;
  line-gap-override: 0%;
  size-adjust: 101.62%;
}
.__className_01 {
  /* font-family: "__myFont", "__myFont_Fallback";
   */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-weight: 500;
}
.sidemenu_heading {
  /* font-family: "__myFont", "__myFont_Fallback";
   */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
}

:root {
  --header-height: 96px;

  --dealguru-blue: #0067e1;
  --dealguru-white: #fff;
  --dealguru-grey: rgb(245, 245, 245);

  --dealguru-text-color: rgb(41, 41, 41);

  --dealguru-background: #f7f7f7;

  --dealguru-shadow: 0px 0px 10px 0px #272e610d;
}
body {
  background-color: var(--dealguru-grey);
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  .button {
    background-color: var(--dealguru-blue);
    color: var(--dealguru-white);
    border-radius: 6px;
    font-weight: 600;
    border: 1px solid var(--dealguru-white);
    transition: ease-out 100ms;
  }
  .button:hover {
    background-color: white;
    color: var(--dealguru-blue);
    border-radius: 0.5rem;
    border: 1px solid var(--dealguru-blue);
  }
  .widthImpo {
    max-width: 50px !important;
  }

  .last_child_hr:last-child {
    display: none;
  }
  .discount-code-button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 8px;
    border-color: #fff #fff #9cf #9cf;
    border-radius: 0;
    transition: ease-in-out border-width;
    transition-duration: 0.2s;
  }
  .discount-code-button:hover:before {
    border-width: 9px;
  }

  @media not all and (min-resolution: 0.001dpcm) {
    @media {
      .aligh_icon {
        position: relative;
        bottom: 6px;
      }
    }
  }

  .marquee-animation {
    animation: marquee 80s linear infinite;
  }

  @keyframes marquee {
    from {
      transform: translateX(calc(-100%));
    }
    to {
      transform: translateX(0);
    }
  }
  .hover_card {
    top: 0 !important;
    bottom: 0 !important;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
  }
}
